.card{
    width: 18rem;
    background: #CDBE9B;
    display: flex;
    justify-content: space-between;
   
}
.card-header{
    background-color: black; 
    color: White;
    text-align: center;
}

body{
    background-color:#23404B ;
}