.card{
    width: 18rem;
    background: #CDBE9B;

}
.card-header{
    background-color: black; 
    color: White;
    text-align: center;
}

.container{
    background-color:#23404B ;
    margin: auto;
}