body{
    background-color: #dea7dd;
    display:grid;
    justify-content: center;
    align-items: center;
}

h1{
    border-radius: 80px;
    padding: 50px;
    margin: 150px;
    font-size: 100px;
    box-shadow: -8px -8px 20px rgba(255, 255, 255, 0.1),8px 8px 20px rgba(0, 0, 0, 0.23) ;
}