 form{
    width: 90%;
    max-width: 600px; 
    background-color: #2ec1bc;
    padding: 20px;
    
} 

.font{
    font-weight: bold;
}

.input-group{  
    padding: 10px;
    box-shadow:-8px -8px 15px rgba(255,255, 255,0.1), 5px 5px 15px rgba(0,0,0,0.2) ;
    outline: none;
}
ul li{
    list-style-type: none;
}

.input-btn{
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
    width: 150px;
    border-radius: 15px;
    border: none;
    background-color:aqua ;
    box-shadow:-8px -8px 15px rgba(255,255, 255,0.1), 5px 5px 15px rgba(0,0,0,0.2) ;
    background: transparent;
    color: black;
}




